**/*.db
**/*.backup
**/*.log
**/*.dat
**/*.dat_old
**/*.lock

**/world
**/world_nether
**/world_the_end
**/logs
**/cache

**/.console_history
**/plugins/mcMMO/backup
**/plugins/AuctionHouse/auctions.db
**/plugins/AuctionHouse/auctions.db.backup
**/plugins/Jobs/jobs.sqlite.db
**/plugins/CMI/cmi.sqlite.db
**/plugins/WorldGuard/cache/profiles.sqlite
**/usercache.json
**/plugins/GriefPreventionData/PlayerData/

ARK/*
Rust/*

Garry's Mod/steamapps/common/GarrysModDS/sourceengine/*
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_000.vpk
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_001.vpk
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_002.vpk
Garry's Mod/logs/*
Garry's Mod/steamapps/common/GarrysModDS/start.bat

Garry's Mod/steamapps/common/GarrysModDS/cstrike/*
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/cache/*
Minecraft/Waterfall/locations.yml
Garry's Mod/steamapps/common/GarrysModDS/steam_cache/appworkshop_4000.acf
Garry's Mod/steamapps/common/GarrysModDS/bin/*
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/lua_errors_server.txt
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/data/*
