ARK/*
Rust/*
Minecraft/*
FiveM/*

Garry's Mod/steamapps/common/GarrysModDS/sourceengine/*
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_000.vpk
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_001.vpk
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/garrysmod_002.vpk
Garry's Mod/logs/*
Garry's Mod/steamapps/common/GarrysModDS/start.bat
Garry's Mod/steamapps/common/GarrysModDS/cstrike/*
Garry's Mod/steamapps/common/GarrysModDS/garrysmod/cache/*
FiveM/
Minecraft/

Garry's Mod/steamapps/common/GarrysModDS/garrysmod/data/*
Garry's Mod/steamapps/common/GarrysModDS/steam_cache/*
*.gma
